@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.challenge{
  color: white;
  text-align: center;
}

h1{
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;

}

body {
  background-color: black;
}

main {
  width: 80%;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: blue;
  
}

.courses {
  display: flex;
  gap: 40px;
  width: 100%;
  flex-wrap: wrap;
}

.course {
  border: 1px solid #000;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 10px 10px black;
  background: white;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: calc(33.33% - (40px * 2));
}

.course-video{
  display: block;
  width: 100%;
  border-radius: 10px;
}

.course-category {
  background: black;
  color: white;
  margin-top: 1em;
  display: inline-block;
  border-radius: 5px;
  padding: .5em;
  font-family: "Bungee", sans-serif;
  
}

.course:hover{
  background-color: red;
  transform: scale(1.1);
  transition-property: transform;
}

@media (max-width: 600px) {
  .course {
    background: orange;
    flex-basis: 100%;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .course {
    background: white;
    flex-basis: 36%;
  }
}
