@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


:root {
  --gray: #bbb;
  --red: #DC143C;
}

body {
	margin: 0px;
	background: linear-gradient(0.25turn, #DC143C, #000000, #000000, #DC143C);
  
  
}

header {
  margin: 0;
  display: block;
  background-color: black;
  font-family: "Oswald", sans-serif;
  overflow: hidden;
  z-index: 1;
  
  
  
  
}

h1 {
  height: auto;
  text-align: center;
  background-color: black;
  margin: 0;
  color: var(--gray);
  padding: .5em;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  font-size: 25px;
 

  

}

nav {
	width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
  transition-property: background;
  transition-duration: 1s;
  z-index: 3;
  background-color: rgba(0,0,0,1);
  position: absolute;
  
 
}

.block-color {
	height: 83px;
	width: 100%;
	z-index: 0;
	background: linear-gradient(0.25turn, #DC143C, #000000, #000000, #DC143C);
	position: absolute;
	
	
}

.menu{
  display: flex;
  align-items: center;
  font-size: 23px;
  gap: 30px
  
}

.logo {
  width: 180px;
  height: 60px;
  padding: 5px;
  border: 3px;

}

.menu > p {
	color: white;
	font-size: 20px;
	padding: 5px;
	border-bottom: 3px solid rgba(0,0,0,0);
	font-family: "Oswald", sans-serif;
	color: var(--gray);
	transition-property: transform;
	transition-duration: 0.5s;
}

nav > div > a {
	text-decoration: none;
}

nav > div > a:visited {
	color: white;
}

.Pi {
  margin-left: 150px;
}

.contato {
  margin-right: 150px;
}

nav:hover {
	
	background-color: rgba(0,0,0,0);
	transition-property: background;
	transition-duration: 1s;
	color: var(--gray);
	
	p {
		transform: scale(1.1);
		transition-property: transform;
		transition-duration: 0.5s;
	}
}

.menu p:hover {
    border-bottom: 3px solid black;

  

  }

