  
article {
	background-color: black;
	padding: 100px;	
	
}

p {
	color: white;
	 
}

main {
	display: flex;	
	background-color: black;
	justify-content: center;
	overflow: hidden;
}

.cards {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 500px;
	overflow: hidden;
	padding: 0;
	gap: 10px;
		
}

.cards img {
	width: 20%;
	height: 90%;
	border: 10px solid white;
}
	
		

footer {
	width: 100%;
	height: 300px;
	text-align: center;
    background-color: black;	
	font-family: san-serif;
	  
}


.logofooter {
	width: 150px;
	padding: 20px;
	
		
}

.rodape {
	display: flex;
	gap: 20px;
	justify-content: center;
	padding: 10px;
}

.texto {
	display: flex;
	justify-content: center;
	gap: 40px;	
	padding: 0;
	
}

.leis {
	display: flex;
	justify-content: center;
	gap: 50px;
	padding: 10px;
}

@media (max-width: 430px) {
  .inicio, .processo, .top1 {
	background: red;  
    flex-basis: 100%;
  }
}

@media (min-width: 430px) and (max-width: 1280px) {
  .inicio, .processo, .top1 {
    flex-basis: 50%;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .footer {
    flex-basis: 36%;
  }
}

	  




