.container-slogan {
	display: flex;
	width: 100%;
	height: 280px;
	justify-content: center;
	align-items: center;
	font-family: "Oswald", sans-serif;
	background: linear-gradient(0.25turn, #000000, #DC143C, #DC143C, #000000);

	
}


.slogan-article {
	text-align: center;
	width: 60%;
	height: 128px;
	margin: 0px;
	border: 0px;
}

.title-slogan {
	margin: 0px;
	border: 0px;
	color: #ccc;
	font-style: italic;
		
}

.slogan {
	margin: 0px;
	border: 0px;
	font-style: italic;
	color: #ccc;
}


.container-slogan:hover {
	font-size: 20px;
	transition-property: font-size;
	transition-duration: 2s;
}

.more-products {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 830px;
	background-color: black;
	margin: 0px;
	overflow: hidden;
	align-items: center;
}

.title-order {
	text-align: center;
	font-size: 34px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	padding: 2rem;
	color: #ccc;
}

.container-main-cards {
	display: flex;
	width: 80%;
	flex-wrap: wrap;
	
}

.more-products:hover {
	
	.container-main-cards {
		gap: 40px;
	}
	.main-card {
		margin: 0;
		box-shadow: rgba(255, 0, 0, 0.25) 0px 54px 55px, rgba(255, 0, 0, 0.12) 0px -12px 30px, rgba(255, 0, 0, 0.12) 0px 4px 6px, rgba(255, 0, 0, 0.17) 0px 12px 13px, rgba(255, 0, 0, 0.09) 0px -3px 5px
		
	}
}



.main-card {
	width: 300px;
	margin-left: -100px;
	display: flex;
	flex-direction: column;
	background-color: black;
	border: 1px solid white;
	box-shadow: -100px 5px 80px black;
	border-radius: 30px;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 31%; 
	filter: blur(50%);
	opacity: 100%;
	transition: 1s;
	cursor: pointer;
}

.main-card:hover {
	transition: .4s;
	transform: scale(1.1);
	box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px !important;
	
	
}

.image-card {
	width: 85%;
	align-self: center;
	margin: 1rem;
	border: 1px solid white;
	border-radius: 10px;
}

.title-card {
	font-family: 'Oswald', sans-serif;
	margin: 5px 0px;
	padding: 0px 15px;
	align-self: center;
	color: #ccc;
}

.detailed-text {
	padding: 1rem;
	margin: 0px;
	font-family: 'Oswald', sans-serif;
	color: #ccc;


}
